{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container-fluid min-vh-100 d-flex flex-column" style="padding:5%;">
    <div class="card mb-3" align="center">
        <div class="row g-0">
            <div>
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    {% if error %}
                    <div class="alert alert-danger mt-3" role="alert">
                        {{ error }}
                    </div>
                    {% endif %}
                    {% if warning %}
                    <div class="alert alert-danger mt-3" role="alert">
                        {{ warning }}
                    </div>
                    {% endif %}
                    <form method="post" class="from-group">
                        {% csrf_token %}
                        <input type="text" class="form-control mb-2" placeholder="Enter user name" name="username" value="{{form.data.username }}" />
                        <input type="password" class="form-control mb-2" placeholder="Enter password" name="password" value="{{form.data.password }}" />
                        <p>¿Don't have an accoount? Create one <a href="{% url 'signup' %}">here</a></p>
                        <br>
                        <input type="submit" class="btn btn-primary" value="Send" />	
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}