{% extends 'base.html' %}
{% block title %} Shopping cart furnitures {% endblock %}
{% block header_title %} {{subtitle}} {% endblock %}
{% block content %}
<div class="row">
    {% for furniture in furnitures_in_sc %}
        <div class="col-md-4 col-lg-3 mb-2">
            <div class="card">
                <img src="{{ furniture.image_url }}" class="card-img-top" style="height: 300px;" alt="Furniture Image">
                <div class="card-body">
                    <h5 class="card-title">Name: {{ furniture.name }}</h5>
                    <h5 class="card-text">Price: {{ furniture.price }}</h5>
                    <div class="card-title">
                        <a class="btn btn-danger" href="{% url 'remove_from_sc' furniture.id %}">Remove from cart</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <h1>Total price: ${{ total }}</h1>
    <a class="btn btn-primary" href="{% url 'buy' %}">Buy</a>
</div>
{% endblock %}
