{% extends 'base.html' %}
{% block title %} {{furniture.name}} info {% endblock %}
{% block header_title %} {{subtitle}} {% endblock %}
{% block content %}
<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ furniture.image_url }}" class="card-img-top"  alt="Furniture Image">

      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title">
             {{furniture.name}}
          </h4>
              <p class="card-text">Type: {{furniture.type}}</p>
              <p class="card-text">Maker: {{furniture.maker}}</p>
              <p class="card-text">Material: {{furniture.material}}</p>
              <p class="card-text">Description: {{furniture.description}}</p>
              <p class="card-text">Price: ${{furniture.price}}</p>
              
              <a class="btn bg-primary text-white" href="{% url 'furniture_index' %}">Go back</a>
              <a class="btn bg-primary text-white" href="{% url 'createReview' product_id=furniture.id %}">Make a Review</a>
              <a class="btn bg-primary text-white" href="{% url 'add_to_sc' furniture.id %}">Add to shopping cart</a>
              <a class="btn bg-primary text-white" href="{% url 'add_to_wl' furniture.id %}">Add to wish list</a>
        </div>
      </div>
    </div>
  </div>
  <ul>
  <div class="container">
    {% for review in furniture.review_set.all %}
        <div class="card">
            <p class="card-text">{{ review.content }}</p>
            <p class="card-text">By: {{ review.created_by }}</p>
        </div>
    {% empty %}
        <li>No hay reseñas disponibles para este mueble.</li>
    {% endfor %}
  </div>
</ul>
{% endblock %}